<!DOCTYPE html>
{% extends 'base.html' %}
{% block title %}Faculty View page{% endblock title %}

{% block body %}
<center>
  <h4>Faculty View</h4>
  <table style="width:50%; margin-top: -15px">
    <tr>
      <th>Class</th>
      <th>CRN number</th>
      <th>Number of Students</th>
    </tr>
    <tr>
    </tr>
  </table>

  <input type="Submit" id ="faculty-buttons-class" class = "button" value="Add a class">
  <input type="Submit" id ="faculty-buttons-grade" class = "button" value="Add a grade">

</center>
{% endblock body %}
