{% extends "theMainSite/header.html" %}
{% block content %}
<center>
<h1>Faculty View</h1>

  <table style="width:100%">
    <tr>
      <th>Class</th>
      <th>CRN number</th>
      <th>Number of Students</th>
    </tr>
  <tr>
  </tr>
</table>

 <form action="/MakeCourse/" method="post">
    Course name: <input type="text" name="courseName" >
    Course Number: <input type="number" name="courseNumber">
    Number of Students: <input type="text" name="numberStudents">
    {% csrf_token %}
    <input type="submit" value="Submit Course information">
  </form>
  

</button>
</center>
{%endblock%}
