<!DOCTYPE html>
<html lang="en">
<head>
	<title>  Sign In </title>
	<meta charset = "UTF-8">
	{% load staticfiles %}
	<link rel='stylesheet' type= "text/css" href="{%static 'Signin/styling.css'%}"/>
	<meta name= "description" content = "LMS Sign-In">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<link rel="stylesheet" type="text/css" href="styling.css"/>
	<link href='https://fonts.googleapis.com/css?family=Didact Gothic' rel='stylesheet'>
	<script type="text/javascript" src="{% static 'Signin/student_functions.js'}"></script>
</head>

<body class="text center">
		{% block content %}
		{% endblock %}
</body>

</html>
